name: Documentation

on: 
  push:
    branches:
      - main
    tags: '*'

jobs:
  docs:
    permissions:
      contents: write
    name: 'Documentation: html'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.6.7'
      - uses: julia-actions/cache@v1
      - name: Install dependencies
        run: julia --color=yes --project=docs/ docs/instantiate.jl
      - name: Build the manual
        run: julia --color=yes --project=docs/ docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
